<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>The Garage</title>
    <!-- Link to your CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>The Garage: Compare Your Favorite Cars</h1>
      <div class="card-container">
        <!-- Loop through each Pokémon and wrap each card in a link -->
        {% for car in cars %}
        <a href="{{ url_for('car_detail', id=car.id) }}" class="card-link">
          <div class="card">
            <img src="{{ car.image }}" alt="{{ car.name }}" />
            <div class="card-body">
              <h5 class="card-title">{{ car.name }}</h5>
              <p class="card-text">ID: {{ car.id }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>